[submodule "vendor/wycheproof"]
	path = vendor/wycheproof
	url = https://github.com/C2SP/wycheproof.git
[submodule "vendor/phc-winner-argon2"]
	path = vendor/phc-winner-argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
